@import "vars.scss";
.propose .propose__slide .propose__pic .container {
  position: relative;
  height: 785px;
}
.propose__bg {
  padding: 80px 50px;
  background-color: $colorWhite;
  position: absolute;
  border-left: 15px solid $colorBaseGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.propose__pic {
  background: url(../img/intro.jpg) no-repeat center;
  background-size: cover;
  height: 785px;
  font-weight: bold;
  font-size: 36px;
}
.propose__pic2 {
  background: url(../img/intro2.jpg) no-repeat center;
  background-size: cover;
  height: 785px;
  font-weight: bold;
  font-size: 36px;
}
.propose__pic3 {
  background: url(../img/intro3.jpg) no-repeat center;
  background-size: cover;
  height: 785px;
  font-weight: bold;
  font-size: 36px;
}
.propose__text {
  width: 313px;
  text-align: center;
}
.propose__text h1 {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 50px;
}
.propose__text-title {
  margin-bottom: 20px;
}
.propose__text-description {
  font-weight: normal;
  margin-bottom: 20px;
}

/*button*/
.propose__text .btn {
  margin-bottom: 40px;
}

.propose__text-count {
  margin-bottom: 15px;
  font-size: 32px;
}
.propose__text-sm {
  font-size: 24px;
}
/*dots*/
.propose__text-dots > {
  cursor: pointer;
}

/*arrow*/


@media screen and (max-width: 1050px) {
  .propose__bg {
  left: 50%;
  transform: translate(-50%, 0);
}
}
@media screen and (max-width: 560px) {
  .propose__bg {
    padding: 50px 20px;
}
  .propose__text h1 {
    font-size: 55px;
    margin-bottom: 20px;
}
  .propose__text-title {
    font-size: 30px;
  }
  .propose__text-description {
    font-size: 25px;
    margin-bottom: 20px;
}
}
@media screen and (max-width: 430px) {
  .propose {
    height: 100vh;
  }
  .propose__bg {
    padding: 15px 5px;
}
.propose__text {
  width: 200px;
}
.propose__text .btn {
    margin-bottom: 30px;
    padding: 10px 20px;
}

  .propose__text h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
  .propose__text-title {
    font-size: 20px;
  }
  .propose__text-description {
    font-size: 15px;
    margin-bottom: 20px;
}
}
